<html>

<head>
  <title>Dashboard</title>
</head>

<body>
  <% dogs.forEach(function(el) { %>
    <h6>Dog id:<%= el.id%> <%=  el.post.width !== 0 ? el.post.width : 'auto' %>
    </h6>
    <img src="<%=el.post.url%>" width="<%=el.post.width !== '0' ? el.post.width : 'auto'%>" />
    <% }); %>
</body>

</html>